@model DetailsViewModel

<div class="section">
	<div class="part centre">
		<input type="search" /> <btn>Search</btn>
	</div>
</div>

<div class="section details">
	<div class="part details-hero">
		<img id="hero" src="@Model.Book.ImageUrl" />
	</div>
	<div class="part details-info">
		<div>
			<h5>@Model.Book.Title</h5>
			<p>Genre: <span id="author">@Model.Book.BookGenre </span></p>
			<p>Author: <span id="author">@Model.Book.Author </span></p>
			<p>Publisher: <span id="author">@Model.Book.Author </span></p>
			<p>Published Year: <span id="author">@Model.Book.Year </span></p>
			<p>ISBN: <span id="author">@Model.Book.ISBN </span></p>
			<p>Description: <span id="author">@Model.Book.Description</span></p>
		</div>
		<div>
			<div class="d-flex flex-row justify-content-between">
				<h5>Reviews</h5>
				<img id="icon" src="https://res.cloudinary.com/drixwe3ie/image/upload/v1677151933/add-icon-free-vector_bdwam2.jpg"/>
			</div>
			<div>
				@foreach (var review in Model.Reviews)
				{
					<p>@review.Message</p>
					<p class="text-right">@review.Name &emsp; @review.Date</p>
				}
			</div>
		</div>
	</div>
</div>