@model IEnumerable<BookModel>


<div>
	<div class="section">
		<div class="part centre">
			<input type="search" /> <btn>Search</btn>
		</div>
		<div class="part centre">

			<div><h4>What interests you?</h4></div>
			<div class="genre">
				<btn class="btn-genre">Comedy</btn>
				<btn class="btn-genre">Thriller</btn>
				<btn class="btn-genre">Drama</btn>
				<btn class="btn-genre">Romantic</btn>
			</div>
		</div>
	</div>

	<div class="section">
		<h4>New Releases</h4>
		<div class="mp">
			<div class="inside-mp">
				@for (int i = 0; i < 8; i++)
				{
					var book = Model.OrderBy(b => b.Year).ToList()[i];
					<div class="book-details">
						<img id="book-image" src="@book.ImageUrl" />
						<h6><a asp-controller="Home" asp-action="Details" asp-route-id="@Model.ToList()[i].BookId">@book.Title</a></h6>
						<p><span id="author">@book.Author </span><br>@book.BookGenre</p>
					</div>					
				}
			</div>
		</div>
	</div>

	<div class="section">
		<h4>Most Popular</h4>
		<div class="mp">
			<div class="inside-mp">
				@for (int i = 0; i < Model.Count(); i++)
				{
					var book = Model.ToList()[i];
					<div class="book-details">
						<img id="book-image" src="@book.ImageUrl" />
						<h6><a asp-controller="Home" asp-action="Details" asp-route-id="@Model.ToList()[i].BookId">@book.Title</a></h6>
						<p><span id="author">@book.Author </span><br>@book.BookGenre</p>
					</div>
				}
			</div>
		</div>
	</div>

</div>

